<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>699948710293-un06q389g1q4tke7asd3qmu991qpo7cs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.699948710293-un06q389g1q4tke7asd3qmu991qpo7cs</string>
	<key>API_KEY</key>
	<string>AIzaSyC6hl761kFVyepJeBV6TF9Y8pMXV-rv6xg</string>
	<key>GCM_SENDER_ID</key>
	<string>699948710293</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.gamblersgaming</string>
	<key>PROJECT_ID</key>
	<string>gamblers-gaming-test</string>
	<key>STORAGE_BUCKET</key>
	<string>gamblers-gaming-test.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:699948710293:ios:0bbc8bef5caaef647e1e9c</string>
</dict>
</plist>